
/*need to change color scheme and add custom snake colors and patterns input by user */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: lightblue;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content : center;
    border-radius: 5px;
    background: rgb(212, 193, 230);
    box-shadow: 0 20px 40px cornflowerblue;
}

.game-info {
    color: rgb(199, 64, 64);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.game-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: yellow;
    grid-template: repeat(30,1fr) / repeat(20,1fr);
}

.game-board .food {
    background: darkblue;
}

.game-board .head {
    background:rgb(109, 54, 131);
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(221, 3, 250);
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171B26;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-info {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
    }
    .controls i {
        padding   : 16px 0;
        font-size: 1 rem;
    }
}
