body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.title {
    font:Lato;
    font-size: 20px;
    font-weight: bold;
    color: #2c6b51;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    text-align: center;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

#score-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 13px;
    background-color: rgb(48, 47, 43);
    color: #a2c7f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.score-label, .highscore-label {
    margin-right: 10px;
    font-weight: bold;
    font:;
}

#score, #highscore {
    color: #d5c2d2;
    font-weight: bold;
}

#board {
    background-color: #fff; /* Background color of the game board */
    border: 5px solid #000; /* Border color of the game board */
}
